Modulet e Nodes
cd client-app > npm install

Database
user: .
name:

Migrations:
1. dotnet ef database drop -s API -p Persistence
2. delete files at ...\Persistence\Migrations
3. dotnet ef migrations add InitialCreate -p Persistence -s API
